Django>=1.3,<1.4
epio
fabric
sorl-thumbnail
south
django-annoying
lxml
unipath
django-templated-email
django-celery
django-redis-cache
git+https://github.com/martinrusev/django-redis-sessions
git+https://github.com/Automatique/django-postmark